html {
    scroll-behavior: smooth;
    /* Web Standard scrollbar */
    scrollbar-color: var(--color-primary);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    /* TODO Doesn't update with theme changes */
    background-color: var(--color-primary);
    border-radius: 10px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
